
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
header a logo {
    color: green;
}
section{
    padding: 100px;
}
.banner{
    position: relative;
    min-height: 100vh;
    background: url("/projectmvcpweb/public/img/pict8.jpg");
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.banner h2{
    font-size: 3em;
    color: white;
    font-weight: 500;
    line-height: 1.5em;
}
.banner h2 span {
    font-size: 1.5em;
    font-weight: 500;
}
.banner h3{
    font-size: 1.5em;
    color: greenyellow;
    font-weight: 500;
}
.btn{
    position: relative;
    background: cornflowerblue;
    display: inline-block;
    color: #fff;
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 3px;
    border-radius: 80px;
    border-color: 10px white;

}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}
header.sticky{
    background: #fff;
    padding: 20px 100px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);

}
header .logo{
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
}
header.sticky .logo{
    color: #111;
}
header ul{
    position: relative;
    display: flex;
}
header ul li{
    position: relative;
    list-style: none;
}
header ul li a{
    position: relative;
    display: inline-block;
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
}
header.sticky ul li a{
    color: #111;
}
.heading{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    color: #111;
}
.heading h2{
    font-weight: 600;
    font-size: 30px;
}
.content{
    display: flex;
    justify-content: space-between;
}
.contentBx{
    padding-right: 30px;
}
.contentBx h3{
    font-size: 24px;
    margin-bottom: 10px;
}
.w50{
    min-width: 50%;
}
img{
    max-width: 100%;
}
.services{
    background: white;
}
.heading.white{
    color: #fff;
}
.services .content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.services .content .servicesBx{
    padding: 40px 20px;
    background: yellowgreen;
    color: #fff;
    max-width: 340px;
    margin: 20px;
    transition: 0.5s;
    border-style: revert;
    border-radius: 10px;
}
.services .content .servicesBx:hover{
    background:  #268825;
}
.services .content .servicesBx img{
    border-radius: 10px;
}
.services .content .servicesBx a{
    text-decoration: none;
    color: aliceblue;
}
.services .content .servicesBx h6{
    font-size: 13px;
    font-family: "Berlin Sans FB Demi";
}

}
.work .content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: yellowgreen;

}
.work .content .workBx{
    width: 50%;
    padding: 20px;
}
.work .content .workBx img{
    max-width: 100%;
}
.work .content .workBx h2 a {
    text-decoration: None;
    color: grey;
    text-align: center;
}
.work .content .workBx p{
    color: grey;
}
.testimonial{
    background: #f7f7f7;
}
.testimonial .content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.testimonial .content .testimonialBx{
    max-width: calc(50% - 40px);
    padding: 60px 40px;
    margin: 20px;
    background: yellowgreen;
}
.testimonial .content .testimonialBx p{
    color: #fff;
    font-style: italic;
    font-size: 16px;
    font-weight: 300;
}
.testimonial .content .testimonialBx h3{
    margin-top: 40px;
    text-align: end;
    /* untuk tulisan berada disebelah kanan */
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    line-height: 1em;
}
.testimonial .content .testimonialBx h3 span{
    font-size: 14px;
    font-weight: 400;
}
.contact{
    background: #111;
}
.formbx{
    min-width: 60%;
}
.formbx form{
    display: flex;
    flex-direction: column;
}
.formbx form h3,
.contactInfo h3{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}
.formbx form input,
.formbx form textarea{
    margin-bottom: 20px;
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: none;
    background: #222;
    color: #fff;
    resize: none;
}
.formbx form textarea{
    min-height: 200px;
}
.formbx form input,::placeholder,
.formbx form textarea::placeholder{
    color: rgb(255, 255, 255);
}
.formbx form input[type="submit"]{
    max-width: 100px;
    background:  cornflowerblue;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 20px;
}
.contactInfo{
    min-width: 40%;
}
.contactInfoBx{
    position: relative;
}
.contactInfoBx .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.contactInfoBx .box .icon{
    min-width: 40px;
    padding-top: 4px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 24px;
}
.contactInfoBx .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}
.contactInfoBx .box .text h3{
    font-weight: 500;
    color: #268825;
    margin-bottom: 0;
}
.copyright{
    background: #268825;
    color: #fff;
    text-align: center;
    padding: 10px;
}
/* Responsive */
@media (max-width: 991px){
    header, header.sticky{
        padding: 20px 50px;
        z-index: 1000;
    }
/*    .menu{*/
/*        position: fixed;*/
/*        top: 75;*/
/*        left: 0;*/
/*        display: block;*/
/*        padding: 100px 50px;*/
/*        text-align: center;*/
/*        width: 100%;*/
/*        height: 40vh;*/
/*        background: darkgrey;*/
/*        transition: 0.5s;*/
/*        z-index: 999;*/
/*        border-top: 1px solid rgba(0,0,0,0.2);*/
/*    }*/
/*}*/

